/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: @fg0;
  }

  to {
    color: @fg0;
    background-color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    color: @fg0;
  }

  to {
    color: @fg0;
    background-color: @critical;
  }
}

/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* Default colors */
/* Dark Background */
@define-color bg0 #282828;
@define-color bg0-hard #1d2021;
@define-color bg0-soft #32302f;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;

/* Dark Foreground */
@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

/* Dark Colors */
@define-color dark-red #cc241d;
@define-color dark-green #98971a;
@define-color dark-yellow #d79921;
@define-color dark-blue #458588;
@define-color dark-purple #b16286;
@define-color dark-aqua #689d6a;
@define-color dark-orange #d65d0e;
@define-color dark-gray #928374;

@define-color light-red #fb4934;
@define-color light-green #b8bb26;
@define-color light-yellow #fabd2f;
@define-color light-blue #83a598;
@define-color light-purple #d3869b;
@define-color light-aqua #8ec07c;
@define-color light-orange #f38019;
@define-color light-gray #a89984;

@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ebcb8b;
@define-color critical #d08770;

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @bg0;
  color: @fg2;
  font-family: Cantarell, Noto Sans, Iosevka, xos4 Terminus, FiraCode;
  font-size: 13px;
  font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode {
  /* Shown current Sway mode (resize etc.) */
  color: @fg0;
  background: @dark-red;
}

/* Workspaces stuff */
#workspaces button {
  font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
  /* All these comments are here just for reference */
  /*border-bottom: 3px solid transparent;
    To compensate for the bottom border and still have vertical centering
    padding-top: 3px;*/
  /* min-width required for some gtk themes to make button width
     * match length of its label, rather than being a fixed width */
  min-width: 0;
  padding-left: 5px;
  padding-right: 5px;
  background: @bg3;
  color: @fg0;
}

#workspaces button.focused {
  background: @dark-orange;
}

#workspaces button.urgent {
  /* Not used at all, maybe I'll delete it soon */
  border-color: @light-red;
  /* color: #c9545d; */
}

#window {
  margin-right: 40px;
  margin-left: 40px;
}

#custom-alsa {
  background: #d8dee9;
  color: @dark;
}

#network {
  background: @bg4;
  color: @fg0;
}

#memory {
  background: @fg2;
  color: @bg0;
}

#cpu {
  background: @bg2;
  color: @fg0;
}

#temperature {
  background: @bg4;
  color: @fg0;
}

#custom-keyboard-layout {
  background: #5e81ac;
  color: @fg0;
}

#battery {
  /* background: #88c0d0;
    color: @dark; */
  background: @fg2;
  color: @bg0;
  /* min-width required for some gtk themes to make button width
     * match length of its label, rather than being a fixed width */
  min-width: 0;
}

#tray {
  background: @bg2;
}

#clock.date {
  /* background: #2e3440;
    color: @fg0; */
  background: @bg2;
  color: @fg0;
}

#clock.time {
  /*background: #eceff4;
    color: @dark; */
  background: @fg2;
  color: @bg0;
}

#pulseaudio {
  /* Unsused but kept for those who needs it */
  background: @bg2;
  color: @fg0;
}

#pulseaudio.muted {
  /* No styles */
}

#custom-media {
  background: @fg2;
  color: @bg0;
}

#custom-arrow1 {
  font-size: 16px;
  color: @fg2;
  background: transparent;
}

#custom-arrow2 {
  font-size: 16px;
  color: @bg2;
  background: @fg2;
}

#custom-arrow3 {
  font-size: 16px;
  color: @bg4;
  background: @bg2;
}

#custom-arrow4 {
  font-size: 16px;
  color: @fg2;
  background: @bg4;
}

#custom-arrow5 {
  font-size: 16px;
  color: @bg2;
  background: @fg2;
}

#custom-arrow6 {
  font-size: 16px;
  color: @bg4;
  background: @bg2;
}

#custom-arrow7 {
  font-size: 16px;
  color: @fg2;
  background: @bg4;
}

#custom-arrow8 {
  font-size: 16px;
  color: @bg2;
  background: @fg2;
}

#custom-arrow9 {
  font-size: 16px;
  color: @fg2;
  background: @bg2;
}

#custom-arrow10 {
  font-size: 16px;
  color: @bg3;
  background: transparent;
}
